@font-face {
  font-family: "Work Sans bold";
  font-display: swap;
  src: url("../fonts/worksans-bold.woff2") format("woff2"), url("../fonts/worksans-bold.woff") format("woff"); }

@font-face {
  font-family: "Roboto bold";
  font-display: swap;
  src: url("../fonts/roboto-bold.woff2") format("woff2"), url("../fonts/roboto-bold.woff") format("woff"); }

@font-face {
  font-family: "Roboto light";
  font-display: swap;
  src: url("../fonts/roboto-light.woff2") format("woff2"), url("../fonts/roboto-light.woff") format("woff"); }

@font-face {
  font-family: "Roboto medium";
  font-display: swap;
  src: url("../fonts/roboto-medium.woff2") format("woff2"), url("../fonts/roboto-medium.woff") format("woff"); }

@font-face {
  font-family: "Roboto regular";
  font-display: swap;
  src: url("../fonts/roboto-regular.woff2") format("woff2"), url("../fonts/roboto-regular.woff") format("woff"); }

@font-face {
  font-family: "Roboto thin";
  font-display: swap;
  src: url("../fonts/roboto-thin.woff2") format("woff2"), url("../fonts/roboto-thin.woff") format("woff"); }

body {
  position: relative;
  padding: 0;
  margin: 0;
  min-width: 1170px; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

.center-wrapper {
  position: relative;
  display: flex;
  width: 1170px;
  box-sizing: border-box; }

.logo {
  display: flex;
  position: relative; }

.logo__image {
  margin-top: -16px;
  margin-left: -1px;
  margin-right: 9px; }

.logo__name {
  font-family: "Work Sans bold", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  margin-top: -4px; }

.header {
  display: flex;
  justify-content: center;
  padding: 20px 0 21px 0;
  background-color: #F6F7FF; }

.header__center-wrapper {
  align-items: center; }

.header__logo {
  margin-top: 5px; }

.header__nav-items {
  display: flex;
  justify-content: start; }

.header__nav-link {
  font-family: "Roboto regular", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #1F1E25; }

.header__nav-item {
  margin-left: 25px; }
  .header__nav-item--active > a {
    color: #2C36F2; }

.header__log-in {
  margin-left: 180px;
  color: #1F1E25;
  font-family: "Roboto regular", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px; }
  .header__log-in::before {
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 22px;
    content: "";
    margin-left: -30px;
    background: url("../img/log-in.svg") center no-repeat; }

.credit-section {
  display: flex;
  justify-content: center;
  background-color: #2C36F2; }

.credit-section__center-wrapper {
  padding-top: 57px;
  display: flex;
  justify-content: start;
  padding-bottom: 82px;
  background: url("../img/credit-background.png") center no-repeat; }

.credit-section__background-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  background: linear-gradient(180.24deg, rgba(32, 39, 179, 0) 36.31%, #2027B3 99.79%); }

.credit-section__credit {
  margin-left: 170px; }

.credit-section__bank-name {
  font-family: "Roboto bold", "Arial", sans-serif;
  font-weight: bold;
  font-size: 54px;
  line-height: 63px;
  margin-bottom: 10px;
  color: #F6F7FF; }

.credit-section__description {
  font-family: "Roboto regular", "Arial", sans-serif;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: #E0E1EA; }

.credit-section__count-credit-button {
  background: #F6F7FF;
  border-radius: 4px;
  font-family: "Roboto medium", "Arial", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #1F1E25;
  border: none;
  padding: 16px 36px 23px 36px;
  height: 53px;
  box-sizing: border-box;
  margin-top: 33px; }

.credit-section__credit-cards {
  width: 398px;
  height: 240px;
  padding: 0;
  margin-left: 181px;
  margin-top: 21px;
  position: relative; }

.credit-section__card {
  position: absolute;
  top: -18px;
  right: -23px; }
  .credit-section__card--black {
    z-index: 2;
    top: 40px;
    right: 87px; }

.currency-converter {
  display: flex;
  justify-content: center; }

.currency-converter__center-wrapper {
  display: flex; }

.currency-converter__title {
  font-family: "Roboto bold", "Arial", sans-serif;
  font-weight: bold;
  font-size: 41px;
  line-height: 57px;
  color: #1F1E25;
  margin-bottom: 48px;
  margin-top: 47px; }

.currency-converter__converter {
  display: flex;
  margin-bottom: 85px; }

.currency-converter__submit-block {
  display: flex;
  justify-content: space-between; }

.react-date-picker__wrapper {
  position: relative;
  border: 1px solid #1F1E25;
  box-sizing: border-box;
  width: 390px;
  height: 60px;
  border-radius: 4px;
  background-color: #fff;
  padding: 14px 0px 15px 117px;
  outline: none;
  font-family: "Roboto regular", "Arial", sans-serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;
  color: #000; }
  .react-date-picker__wrapper::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none; }
  .react-date-picker__wrapper::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 39px;
    height: 42px;
    background: url("../img/calendar.svg") center no-repeat;
    right: 20px;
    top: 7px; }

.react-date-picker__clear-button,
.react-date-picker__calendar-button {
  display: none; }

.currency-converter__submit-button {
  font-family: "Roboto medium", "Arial", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  color: #F6F7FF;
  background: #2C36F2;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
  outline: none;
  border: none;
  cursor: pointer;
  height: 60px;
  width: 382px; }

.converter-input:first-of-type {
  margin-right: 120px;
  position: relative; }
  .converter-input:first-of-type::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 50px;
    height: 34px;
    background: url("../img/convert-arrows.svg") center no-repeat;
    top: 63px;
    right: -88px; }

.converter-input__label {
  font-family: "Roboto medium", "Arial", sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 31px;
  color: #1F1E25;
  cursor: pointer; }

.converter-input__inputs {
  margin-top: 22px;
  display: flex;
  justify-content: flex-start; }

.converter-input__amount {
  width: 390px;
  padding: 13px 0 13px 10px;
  border: 1px solid #1F1E25;
  box-sizing: border-box;
  border-radius: 4px;
  text-align: center;
  font-family: "Roboto medium", "Arial", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 34px;
  color: #000000;
  margin-right: 15px; }

.converter-input__select-wrapper {
  position: relative; }
  .converter-input__select-wrapper::after {
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 8px;
    background: url("../img/dropdown-arrow.svg") center no-repeat;
    top: 26px;
    right: 17px; }

.converter-input__type {
  font-family: "Roboto regular", "Arial", sans-serif;
  font-size: 30px;
  line-height: 42px;
  color: #000000;
  border: 1px solid #1F1E25;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 9px 41px 8px 18px;
  outline: none;
  background-color: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.convertation-history {
  display: flex;
  justify-content: center; }

.convertation-history__center-wrapper {
  background-color: #F6F7FF;
  padding: 20px 70px;
  margin-top: 100px;
  flex-direction: column;
  justify-content: flex-start; }

.convertation-history__convertations-list {
  padding: 0;
  height: 260px;
  padding-right: 13px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: space-between;
  position: relative; }
  .convertation-history__convertations-list::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 5px;
    height: 289px;
    background: url("../img/convertations-delimiter.svg") center no-repeat;
    top: -30px;
    right: 510px; }

.convertation-history__convertation {
  font-family: "Roboto regular", "Arial", sans-serif;
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  color: #1F1E25; }

.convertation-history__title {
  font-family: "Roboto medium", "Arial", sans-serif;
  font-weight: 500;
  font-size: 28px;
  line-height: 39px;
  margin-bottom: 35px;
  color: #1F1E25; }

.convertation-history__date {
  margin-right: 40px; }

.convertation-history__convertable {
  margin-right: 65px;
  position: relative; }
  .convertation-history__convertable::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 50px;
    height: 34px;
    background: url("../img/forward-arrow.svg") center no-repeat;
    top: -5px;
    right: -57px; }

.convertation-history__clean-history {
  font-family: "Roboto medium", "Arial", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  color: #F6F7FF;
  background: #2C36F2;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
  outline: none;
  border: none;
  cursor: pointer;
  width: 198px;
  height: 51px;
  margin-top: -23px;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 20px; }

.footer {
  display: flex;
  justify-content: center;
  margin-top: 107px;
  padding: 60px 0;
  background-color: #F6F7FF; }

.footer__center-wrapper {
  justify-content: space-between; }

.footer__about-company {
  margin-top: 2px; }

.footer__logo {
  margin-bottom: 10px; }

.footer__company-copyright {
  font-family: "Roboto regular", "Arial", sans-serif;
  font-size: 12px;
  line-height: 17px;
  color: #707C87; }

.footer__nav-items {
  width: 144px;
  margin-top: -3px;
  padding-left: 0px; }

.footer__nav-item {
  margin-bottom: 9px; }

.footer__link {
  font-family: "Roboto medium", "Arial", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #1F1E25; }

.footer__phone {
  display: flex;
  justify-content: flex-end;
  position: relative; }
  .footer__phone--special {
    width: 201px; }
    .footer__phone--special::before {
      content: "";
      display: inline-block;
      width: 16px;
      height: 16px;
      background: url("../img/phone.svg") left no-repeat;
      margin-right: 18px;
      margin-top: 2px; }
  .footer__phone--general {
    width: 158px; }
    .footer__phone--general::before {
      content: "";
      display: inline-block;
      width: 16px;
      height: 16px;
      background: url("../img/phone-2.svg") left no-repeat;
      margin-right: 18px;
      margin-top: 2px; }

.footer__phone-wrapper {
  display: flex;
  flex-direction: column; }

.footer__phone-number {
  font-family: "Roboto medium", "Arial", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #1F1E25;
  margin-bottom: 4px; }

.footer__phone-description {
  font-family: "Roboto regular", "Arial", sans-serif;
  font-size: 12px;
  line-height: 17px;
  color: #707C87; }

.footer__media-links {
  width: 102px;
  margin-top: 2px;
  padding-left: 0;
  display: flex;
  justify-content: space-between; }

.footer__media-links-item {
  color: rgba(0, 0, 0, 0); }
  .footer__media-links-item--facebook {
    width: 9px;
    height: 16px;
    background: url("../img/fb.svg") center no-repeat; }
  .footer__media-links-item--instagram {
    width: 16px;
    height: 16px;
    background: url("../img/insta.svg") center no-repeat; }
  .footer__media-links-item--twitter {
    width: 16px;
    height: 13px;
    background: url("../img/twitter.svg") center no-repeat; }
  .footer__media-links-item--youtube {
    width: 16px;
    height: 16px;
    background: url("../img/youtube.svg") center no-repeat; }
